
.entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 24px;
    
text-align: left;
}

.pbookList > li > * {
width: calc(100% / 3);
}

.pbookHeader {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.controlBtnContainer {   
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .controlBtnContainer {     
          flex-direction: row;
    }
}

.entryControlBtn {
    padding: 5px;
}