* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #659999, #f4791f);
  padding-top: 30px;
  color: white;
}

ul {
  list-style: none;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #373b44, #4286f4);
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: transform 100ms linear;
}

button:hover,
button:focus {
  transform: scale(1.1);
}

input {
  font-size: 20px;
  padding: 5px;
  border: none;
}

.App {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  padding: 20px 40px;
}

.inputLabel {
  width: 85%;
  display: block;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .inputLabel {
    display: flex;
  }
}

.inputField {
  flex-grow: 1;
  max-width: 310px;
  border-radius: 10px;
}
